.head{ 
    color: rgb(10, 49, 61); 
    background-image: url("header-background.jpg");   
    font-size: 45px;
    margin: 0%;
    padding: 20px 20px;           
} 
body{
    margin: 0%;
    display: block;
}
p{
    margin: 0%;
}
h2{
    margin: 0%;
}
ul{
    margin: 0%;    
    text-align: left;
    line-height: 40px;
    background-color: beige;   
    color:brown;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style-image: url('icon.jpg');    
}
ul li{
    list-style-position: inside; 
    background-color: aquamarine;
    background-size: 50px;
    width:max-content;
    margin: 5px;    
}
#b1, #b2, #b3, #b4, #b5,  
#b6, #b7, #b8, #b9 { 
    width: 120px; 
    height: 95px; 
    margin: auto;
    color: rgb(29, 100, 47); 
    border: 2px solid rgb(28, 47, 105); 
    border-radius: 5px; 
    font-size: 45px; 
    text-align: center; 
}
.high{
    color:crimson;
    font-weight: bold;
    font-size:x-large;
} 
.playarea{     
    background-image: url("tic-tac-toe.jpg");       
    background-repeat: repeat;
    background-size: contain;
    opacity: 1;
}
.box{    
  background-color: orange;
  width: 300px;
  border-bottom-style:outset;
  border-top-style :inset;
  border-left-style: groove;
  border-right-style:ridge;
  border-color: orangered;
  border-width: 15px;
  padding: 20px;  
}
#new,#res,#end{ 
    box-sizing: border-box; 
    width: 135px; 
    height: 40px; 
    border: 1px solid dodgerblue; 
    margin: auto; 
    border-radius: 4px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    background-color: dodgerblue; 
    color: white; 
    font-size: 20px; 
    cursor: pointer; 
}
#print {    
    margin: 10px 40% 10px 40%; 
    background-color: skyblue;      
    background-size:auto;
    font-family: Verdana,Geneva, Tahoma, sans-serif;
    color: rgb(16, 104, 192);
    font-size: 30px; 
}
#stat{
    text-decoration: underline;
}
.stats{
    font-size: 40px;    
    color:rgb(151, 58, 151);
    line-height: 45px;
    padding-top: 20px;
    background-color: greenyellow;
    height: 500px;    
}
.result{    
    box-sizing: border-box;
    border-style:groove;
    border-width: 15px;
    border-color:rgb(0, 35, 100);
    background-color: silver;
    width:50%;
    margin:auto;
    padding-bottom: 20px;
    text-align: center ;
    font-size: 25px;
    text-decoration: none;
    color:rgb(56, 42, 143);
}
