.head{ 
    color: rgb(10, 49, 61);
    font-family:cursive;
    text-align: center; 
    background-image: url("photos/header-background.jpg");   
    background-size: cover;
    font-size: 55px;    
    padding-top: 20px;
    padding-bottom: 20px;         
} 
body{
    margin: 0%;
    display: block;
}
#cf{
    padding:0px 0px;
}
p{
    margin: 0%;
}
h2{
    margin: 0%;
}
#boot{
    margin-bottom: 0px; 
}
ul{
    margin: 0%;    
    text-align: center;
    line-height: 40px;
    background-image: url("photos/instr-background.jpg");
    background-size: cover;   
    color:brown;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style-image: url("photos/icon.jpg");    
}
ul li{
    list-style-position: inside;
    margin-left: 50%;
    background-color: beige;
    background-size: 50px;
    width:max-content;
    margin: 10px;    
}
#b1, #b2, #b3, #b4, #b5,  
#b6, #b7, #b8, #b9 { 
    width: 120px; 
    height: 95px; 
    margin: auto;
    color: rgb(29, 100, 47); 
    border: 2px solid rgb(28, 47, 105); 
    border-radius: 5px; 
    font-size: 45px; 
    text-align: center; 
}
.high{
    color:crimson;
    font-weight: bold;
    font-size:x-large;
} 
.playarea{     
    background-image: url("photos/tic-tac-toe.jpg");       
    background-repeat: repeat;
    background-size: contain;
    opacity: 1;
}
.box{    
    background-color: orange;
    width: 300px;
    border-bottom-style:outset;
    border-top-style :inset;
    border-left-style: groove;
    border-right-style:ridge;
    border-color: orangered;
    border-width: 10px;
    padding: 20px;  
}

#new,#res,#end{
    font-size:30px;
}
#print {    
    text-align: center;
    margin: 10px 40% 10px 40%; 
    background-color:orange;      
    background-size:auto;
    font-family: 'Courier New', Courier, monospace;
    color: maroon;
    font-weight: bold;
    font-size: 35px; 
}
#stat{
    text-decoration: underline;
}
.stats{
    text-align: center;
    font-family:"Open Sans", "Fira Sans", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", "Liberation Sans", "Nimbus Sans L", sans-serif;
    font-size: 40px;    
    color:rgb(224, 157, 224);
    line-height: 45px;
    padding-top: 20px;
    background-image: url("photos/stats-background.jpg");
    background-size: cover;
    height: 500px;    
}
.result{    
    box-sizing: border-box;
    border-style:groove;
    border-width: 15px;
    border-color:orange;
    background-color: lightyellow;
    width:50%;
    margin:auto;
    padding-bottom: 20px;
    text-align: center ;
    font-size: 25px;
    text-decoration: none;
    color:rgb(56, 42, 143);
}
